OTEL_RESOURCE_ATTRIBUTES="service.name=pagopa-ecommerce-payment-methods-handler,deployment.environment=dev"
OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4317"
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_LOGS_EXPORTER=none
OTEL_TRACES_SAMPLER=always_on
ECS_SERVICE_NAME=pagopa-ecommerce-payment-methods-handler
ECS_SERVICE_ENVIRONMENT=dev
ROOT_LOG_LEVEL=INFO
SECURITY_API_KEY_SECURED_PATHS="/payment-methods"
SECURITY_API_KEY_PRIMARY=primary-key
SECURITY_API_KEY_SECONDARY=secondary-key
AFM_URI_V1="https://localhost:8080/afm/calculator-service/v1"
AFM_URI_V2="https://localhost:8080/afm/calculator-service/v2"
AFM_KEY=sub-key
AFM_CONNECTION_TIMEOUT=10000
AFM_READ_TIMEOUT=5000
NPG_B2B_URI="https://stg-ta.nexigroup.com"
NPG_API_KEY=npg-api-key-value
NPG_B2B_CONNECTION_TIMEOUT=5000
NPG_B2B_READ_TIMEOUT=10000
NPG_URI="https://stg-ta.nexigroup.com/api/phoenix-0.0"
NPG_CONNECTION_TIMEOUT=10000
NPG_READ_TIMEOUT=10000
NPG_SESSIONS_TTL=900
NPG_NOTIFICATION_JWT_VALIDITY_TIME=900
JWT_ISSUER_URI="http://localhost:8080/pagopa-jwt-issuer-service"
JWT_ISSUER_CONNECTION_TIMEOUT=10000
JWT_ISSUER_READ_TIMEOUT=10000
JWT_ISSUER_API_KEY=jwt-issuer-api-key-value
SESSION_URL_BASE_PATH="https://dev.checkout.pagopa.it"
SESSION_URL_IO_BASE_PATH="https://dev.ecommerce.pagopa.it"
SESSION_URL_OUTCOME_SUFFIX="/esito"
SESSION_URL_CANCEL_SUFFIX="/annulla"
SESSION_URL_NOTIFICATION_URL="https://api.dev.platform.pagopa.it/ecommerce/npg/notifications/v1/sessions/{orderId}/outcomes?sessionToken={sessionToken}"
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=