microservice-chart:
  namespace: "ecommerce"
  nameOverride: "b-pagopa-ecommerce-payment-methods-handler"
  fullnameOverride: "b-pagopa-ecommerce-payment-methods-handler"
  canaryDelivery:
    create: false
    ingress:
      create: true
      canary:
        type: bluegreen
    service:
      create: true
    deployment:
      create: true
      image:
        repository: pagopaucommonacr.azurecr.io/pagopaecommercepaymentmethodshandler
        tag: "latest"
        pullPolicy: Always
    envConfig:
      OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopa-ecommerce-payment-requests-service-blue,deployment.environment=uat"
      ECS_SERVICE_NAME: pagopa-ecommerce-payment-requests-service-blue
    envSecret: {}
  image:
    repository: pagopaucommonacr.azurecr.io/pagopaecommercepaymentmethodshandler
    tag: "1.1.1"
    pullPolicy: Always
  livenessProbe:
    handlerType: httpGet
    httpGet:
      path: /q/health/live
      port: 8080
    initialDelaySeconds: 2
    failureThreshold: 6
    periodSeconds: 3
  readinessProbe:
    handlerType: httpGet
    httpGet:
      path: /q/health/ready
      port: 8080
    initialDelaySeconds: 2
    failureThreshold: 6
    periodSeconds: 3
  deployment:
    create: true
    replicas: 3
  service:
    create: true
    type: ClusterIP
    ports:
      - 8080
  ingress:
    create: true
    host: "weuuat.ecommerce.internal.uat.platform.pagopa.it"
    path: /beta/pagopa-ecommerce-payment-methods-handler/(.*)
    servicePort: 8080
  serviceAccount:
    name: "ecommerce-workload-identity"
  podAnnotations: {}
  podSecurityContext:
    seccompProfile:
      type: RuntimeDefault
  securityContext:
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - all
  resources:
    requests:
      memory: "128Mi"
      cpu: "150m"
    limits:
      memory: "128Mi"
      cpu: "150m"
  autoscaling:
    enable: true
    minReplica: 3
    maxReplica: 10
    pollingInterval: 10 # seconds
    cooldownPeriod: 50 # seconds
    triggers:
      - type: cpu
        metadata:
          # Required
          type: Utilization # Allowed types are 'Utilization' or 'AverageValue'
          value: "70"
  envConfig:
    ROOT_LOG_LEVEL: INFO
    OTEL_RESOURCE_ATTRIBUTES: "service.name=pagopa-ecommerce-payment-methods-handler,deployment.environment=uat"
    OTEL_EXPORTER_OTLP_ENDPOINT: "http://otel-collector.elastic-system.svc:4317"
    OTEL_EXPORTER_OTLP_PROTOCOL: "grpc"
    OTEL_LOGS_EXPORTER: none
    OTEL_TRACES_SAMPLER: "always_on"
    ECS_SERVICE_NAME: pagopa-ecommerce-payment-methods-handler
    ECS_SERVICE_ENVIRONMENT: uat
    SECURITY_API_KEY_SECURED_PATHS: "/payment-methods"
    AFM_URI_V1: "https://api.uat.platform.pagopa.it/afm/calculator-service/v1"
    AFM_CONNECTION_TIMEOUT: "10000"
    AFM_READ_TIMEOUT: "10000"
  envSecret:
    SECURITY_API_KEY_PRIMARY: ecommerce-payment-methods-primary-api-key
    SECURITY_API_KEY_SECONDARY: ecommerce-payment-methods-secondary-api-key
    AFM_KEY: afm-api-key
  keyvault:
    name: "pagopa-u-ecommerce-kv"
    tenantId: "7788edaf-0346-4068-9d79-c868aed15b3d"
  nodeSelector: {}
  tolerations: []
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: node_type
                operator: In
                values:
                  - user
  secretProviderClass:
    create: true
  azure:
    workloadIdentityClientId: "449c5b65-f368-487a-881a-b03676420c53"
